@charset "utf-8";

/* CSS Document */
*{
margin:0px;
padding:0px;
box-sizing:border-box;
}
body{
background-color:#0FC;
width: 80%;
margin:auto;
}
header{
background-color:#FFC;
padding: 30px;
text-align:center;
font-size:30px;
color:#F00;
}
nav{
background-color:#6F9;
}
/*Phần cần chia thành 3 cột */
section{
background-color:#CF3;
/*overflow: auto;*/ /*Dành cho float và clear float*/
display: -webkit-flex; /*Dành cho flex*/
display: flex; /*Dành cho flex*/
align-items: center; /*Dành cho flex*/ /*đi cùng với flex, mặc định là stretch các cột cao bằng nhau. baseline bằng chiều cao cơ sở của từng cột */

}
section :nth-child(1) { order: 1; } /*gán thứ tự cột cho cac thành phần trong section, có thể sử dụng order luôn ờ các thẻ bên trong */
section :nth-child(2) { order: 2; }
section :nth-child(3) { order: 3; }
#aside_left{
background-color:#FF0;
/*width:20%; */ /*Dành cho float và clear float*/
/*float:left; */ /*Dành cho float và clear float*/
-webkit-flex: 1; /*Dành cho flex*/
-ms-flex: 1; /*Dành cho flex*/
flex: 1; /*Chiếm 1 phần trong tổng số phần flex*/ /*Dành cho flex*/
padding:10px;
}
article{
background-color:#39C;
/*width:60%; */ /*Dành cho float và clear float*/
/*float:left; */ /*Dành cho float và clear float*/
-webkit-flex: 3; /*Dành cho flex*/
-ms-flex: 3; /*Dành cho flex*/
flex: 3; /*Chiếm 3 phần trong tổng số phần flex*/ /*Dành cho flex*/
padding:10px;
border-left:#CF3 solid 8px;
border-right:#CF3 solid 8px;
}
#aside_right{
background-color:#999;
/*width:20%; */ /*Dành cho float và clear float*/
/*float:left; */ /*Dành cho float và clear float*/
-webkit-flex: 1; /*Dành cho flex*/
-ms-flex: 1; /*Dành cho flex*/
flex: 1; /*Dành cho flex*/
padding:10px;
}
/* cả phẩn block đóng này chỉ thay thế cho overflow: auto; viết ở trong section{}*/
/*
section:after{
content: "";
display: table;
clear: both;
}
thuanld@actvn.edu.vn
*/
footer{
padding:20px;
background-color:#903;
color:#CCC;
text-align:center;
}

